# Pin Assignments to match PCB

## -- unused -- PIN "PI_GPIO_21"	LOC = PIN1
## -- unused -- PIN "PI_GPIO_20"	LOC = PIN2
## -- unused -- PIN "PI_GPIO_26"	LOC = PIN3
## -- unused -- PIN "PI_GPIO_16"	LOC = PIN4
## -- unused -- PIN "PI_GPIO_19"	LOC = PIN5
## -- unused -- PIN "PI_GPIO_13"	LOC = PIN6
## -- unused -- PIN "PI_GPIO_12"	LOC = PIN7;
## PIN "VSS"       	LOC = PIN8;  # gnd1
PIN "CLK"       	LOC = PIN9;  # gck1
## -- unused -- PIN "PI_GPIO_06"	LOC = PIN10; # gck2
## -- unused -- PIN "PI_GPIO_05"	LOC = PIN11;
PIN "TUBE_PHI2"	        LOC = PIN12; # PI_GPIO_07 
PIN "TUBE_DATA[0]"	LOC = PIN13; # PI_GPIO_08
PIN "TUBE_DATA[3]"	LOC = PIN14; # PI_GPIO_11
PIN "TUBE_DATA[7]"	LOC = PIN15; # PI_GPIO_25
## PIN "VSS"	        LOC = PIN16; # gnd2
PIN "TUBE_DATA[1]"	LOC = PIN17; # PI_GPIO_09
PIN "TUBE_DATA[2]"	LOC = PIN18; # PI_GPIO_10
PIN "TUBE_DATA[6]"	LOC = PIN19; # PI_GPIO_24
PIN "TUBE_DATA[5]"	LOC = PIN20; # PI_GPIO_23
PIN "TUBE_DATA[4]"	LOC = PIN21; # PI_GPIO_22
## PIN "VDD_IO"	        LOC = PIN22; # vccio1
PIN "TUBE_ADR[0]"	LOC = PIN23; # PI_GPIO_27 (PI_GPIO_21 on early models)
PIN "TUBE_RNW_B"	LOC = PIN24; # PI_GPIO_18
PIN "TUBE_CS_B"	        LOC = PIN25; # PI_GPIO_17
PIN "TUBE_INT_B"	LOC = PIN26; # PI_GPIO_15 (not connected on PiTubeDirect)
## PIN "VSS"	        LOC = PIN27; # gnd3
## PIN "TDI"		LOC = PIN28; # tdi
## PIN "TMS"		LOC = PIN29; # tms    
## PIN "TCK"		LOC = PIN30; # tck
## -- unused -- PIN "PI_GPIO_14"	LOC = PIN31;
## -- unused -- PIN "PI_GPIO_04"	LOC = PIN32;
PIN "TUBE_ADR[2]"	LOC = PIN33; # PI_GPIO_03 (PI_GPIO_1 on early models)
PIN "TUBE_ADR[1]"	LOC = PIN34; # PI_GPIO_02 (PI_GPIO_0 on early models)
PIN "PMOD_GPIO[7]"       LOC = PIN35; # 
PIN "PMOD_GPIO[6]"	LOC = PIN36;
PIN "PMOD_GPIO[5]"	LOC = PIN37;
## PIN "VDD"	        LOC = PIN38; # vccint1
PIN "TUBE_RST_B"	LOC = PIN39; # PMOD_GPIO_4
PIN "PMOD_GPIO[3]"	LOC = PIN40;
PIN "PMOD_GPIO[2]"	LOC = PIN41;
## PIN "VSS"	        LOC = PIN42; # gnd4
PIN "PMOD_GPIO[1]"	LOC = PIN43;
PIN "PMOD_GPIO[0]"	LOC = PIN44;
PIN "ADR[15]"       	LOC = PIN45;
PIN "ADR[14]"       	LOC = PIN46;
PIN "ADR[13]"       	LOC = PIN47;
PIN "ADR[12]"       	LOC = PIN48;
## PIN "VSS"		LOC = PIN49; # gnd5
PIN "ADR[11]"		LOC = PIN50;
PIN "ADR[10]"		LOC = PIN51;
PIN "ADR[9]" 		LOC = PIN52;
PIN "ADR[8]" 		LOC = PIN53;
PIN "ADR[7]" 		LOC = PIN54;
PIN "ADR[6]" 		LOC = PIN55;
PIN "ADR[5]" 		LOC = PIN56;
PIN "ADR[4]" 		LOC = PIN57;
PIN "ADR[3]" 		LOC = PIN58;
## PIN "TDO"		LOC = PIN59; # tdo
## PIN "VSS"		LOC = PIN60; # gnd6
PIN "ADR[2]"		LOC = PIN61;
PIN "ADR[1]"		LOC = PIN62;
PIN "ADR[0]"		LOC = PIN63;
## PIN "VDD_IO"		LOC = PIN64; # vccio2
PIN "DATA[7]"		LOC = PIN65; 
PIN "DATA[6]"		LOC = PIN66; 
PIN "DATA[5]"		LOC = PIN67; 
PIN "DATA[4]"		LOC = PIN68; 
PIN "DATA[3]"		LOC = PIN69; 
PIN "DATA[2]"		LOC = PIN70; 
PIN "DATA[1]"		LOC = PIN71; 
PIN "DATA[0]"		LOC = PIN72; 
## PIN "VDD"		LOC = PIN73; # vccint2
PIN "RESET_B"		LOC = PIN74; # gsr
PIN "MREQ_B"		LOC = PIN75;
PIN "IOREQ_B"		LOC = PIN76; # gts1
PIN "RD_B"   		LOC = PIN77; # gts2
## PIN "VDD"		LOC = PIN78; # vccint3
PIN "WR_B"    		LOC = PIN79;
## PIN "INT_B"   		LOC = PIN80;
## PIN "BUSRQ_B" 		LOC = PIN81;
## PIN "BUSACK_B"		LOC = PIN82;
## PIN "READY"   		LOC = PIN83;
## PIN "M1_B"     		LOC = PIN84;