# Pin Assignments to match PCB netlist
PIN "tp[2]" LOC = P1 ;
PIN "tp[3]" LOC = P2 ;
PIN "tp[0]" LOC = P3 ;
PIN "tp[1]" LOC = P4 ;
PIN "dip[0]" LOC = P5 ;
PIN "dip[1]" LOC = P6 ;
PIN "dip[2]" LOC = P7 ;
#.gnd1 VSS ;
PIN "clk" LOC = P9 ; # GCK1
PIN "dip[3]" LOC = P10 ; #GCK2
PIN "gpio[0]" LOC = P11 ;

# TOP
PIN "gpio[1]" LOC = P12 ; # GCK3
PIN "gpio[2]" LOC = P13 ;
PIN "gpio[3]" LOC = P14 ;
PIN "gpio[4]" LOC = P15 ;
#.gnd2 VSS ;
PIN "gpio[5]" LOC = P17 ;
PIN "gpio[6]" LOC = P18 ;
PIN "gpio[7]" LOC = P19 ;
PIN "ramadrhi[4]" LOC = P20 ;
PIN "ramadrhi[2]" LOC = P21 ;
#.vccio1 VDD ;
PIN "ramadrhi[0]" LOC = P23 ;
PIN "ramadrhi[3]" LOC = P24 ;
PIN "ramadrhi[1]" LOC = P25 ;
PIN "adr[12]" LOC = P26 ;
#.gnd3 VSS ;
#.tdi tdi ;
#.tms tms ;
#.tck tck ;
PIN "ramwe_b" LOC = P31 ;
PIN "adr[13]" LOC = P32 ;
# LHS
PIN "adr[7]" LOC = P33 ;
PIN "adr[8]" LOC = P34 ;
PIN "adr[6]" LOC = P35 ;
PIN "adr[9]" LOC = P36 ;
PIN "adr[5]" LOC = P37 ;
#.vccint1 VDD ;
PIN "adr[11]" LOC = P39 ;
PIN "adr[4]" LOC = P40 ;
PIN "adr[3]" LOC = P41 ;
#.gnd4 VSS ;
PIN "ramoe_b" LOC = P43 ;
PIN "adr[2]" LOC = P44 ;
PIN "adr[10]" LOC = P45 ;
PIN "ramcs0_b" LOC = P46 ;
PIN "ramcs1_b" LOC = P47 ;
PIN "adr[1]" LOC = P48 ;
#.gnd5 VSS ;
PIN "adr[0]" LOC = P50 ;
PIN "data[7]" LOC = P51 ;
PIN "data[6]" LOC = P52 ;
PIN "data[5]" LOC = P53 ;

# Bottom
PIN "adr15" LOC = P54 ;
PIN "adr15_aux" LOC = P55 ;
PIN "adr[14]" LOC = P56 ;
PIN "data[4]" LOC = P57 ;
PIN "data[3]" LOC = P58 ;
#.tdo tdo ;
#.gnd6 VSS ;
PIN "data[2]" LOC = P61 ;
PIN "data[1]" LOC = P62 ;
PIN "data[0]" LOC = P63 ;
#.vccio2 VDD ;
PIN "romen_b" LOC = P65 ;
PIN "romdis" LOC = P66 ;
PIN "ramrd_b" LOC = P67 ;
PIN "ioreq_b" LOC = P68 ;
PIN "rd_b" LOC = P69 ;
PIN "wr_b" LOC = P70 ;
PIN "int_b" LOC = P71 ;
PIN "nmi_b" LOC = P72 ;
#.vccint2 VDD ;
PIN "busreset_b" LOC = P74 ; # GSR

# RHS
PIN "busack_b" LOC = P75 ;
PIN "busreq_b" LOC = P76 ; # gts1
PIN "ready" LOC = P76 ; # gts2
#.vccint3 VDD ;
PIN "reset_b" LOC = P79 ;
PIN "ramdis" LOC = P80 ;
PIN "mreq_b" LOC = P81 ;
PIN "m1_b" LOC = P82 ;
PIN "tp[4]" LOC = P83 ;
PIN "rfsh_b" LOC = P84 ;

NET adr15 FAST ;
NET adr15_aux FAST ;
NET rd_b FAST ;
