# Pin Assignments to match PCB netlist
PIN "mreq_b"	LOC = P1 ;
PIN "iorq_b"	LOC = P2 ;
PIN "ready"	LOC = P3 ;
PIN "clk"	LOC = P5 ; # GCK1
#PIN ""	LOC = P6 ; # GCK2
PIN "rd_b"	LOC = P7 ; # GCK3
PIN "wr_b"	LOC = P8 ;
#PIN ""	        LOC = P9 ;
#PIN ""	        LOC = P11 ;
#PIN ""	        LOC = P12 ;

PIN "ramadrhi[2]"  LOC = P14 ;
PIN "ramadrhi[4]"  LOC = P18 ;
PIN "ramadrhi[1]"  LOC = P19 ;
PIN "ramadrhi[3]"  LOC = P20 ;
PIN "ramwe_b"	LOC = P22 ;
PIN "ramadrhi[0]"  LOC = P24 ;
PIN "adr15"	LOC = P25 ;
PIN "adr14"	LOC = P26 ;
PIN "ramoe_b"	LOC = P27 ;
PIN "ramcs_b"     LOC = P28 ;

PIN "data[7]"	LOC = P29 ;
PIN "data[6]"   LOC = P33 ;
PIN "data[5]"	LOC = P34 ;
PIN "data[4]"	LOC = P35 ;
PIN "data[3]"	LOC = P36 ;
PIN "data[2]"	LOC = P37 ;
PIN "data[1]"	LOC = P38 ;
PIN "reset_b"   LOC = P39 ; # GSR
PIN "busreset_b"   LOC = P42 ; # GTS1
PIN "ramdis"    LOC = P40 ; # GTS2

PIN "data[0]"  LOC = P43 ;
PIN "ramrd_b"	LOC = P44 ;

#PIN ""  LOC = P43 ;